<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="grid.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title>Grid</title>
  </head>
  <body>
    <div class="component-border p-4">
      <h3 class="heading-3 center-text t-c-3">Two Items in a Grid</h3>
      <div class="grid-two-column">
        <div class="f-6">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit
          suscipit consequatur recusandae, facere autem ea dolorum accusamus
          eveniet nulla magni quam? Nemo natus commodi quia dignissimos maxime
          enim delectus magni aperiam tenetur ipsum provident nulla quidem
          consectetur corrupti ut neque molestias laborum deleniti dicta,
          tempora explicabo illo. Consectetur dolore mollitia,
        </div>
        <div class="f-6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quo
          exercitationem in officiis veniam nobis tempora commodi eveniet quam .
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda in
          expedita aut ad unde maxime laboriosam earum. Unde rem accusamus ipsam
          vero autem? Maxime quam ipsum, recusandae deserunt sit nemo?
        </div>
      </div>
    </div>

    <div class="component-border p-4 m-v-4">
      <h3 class="heading-3 t-c-3">Three Items in a Grid</h3>
      <div class="grid-with-area">
        <div class="header center-text heading-3">This is heading</div>
        <aside class="aside">
          <nav>
            <ul>
              <li class="f-6">Item 1</li>
              <li class="f-6">Item 2</li>
              <li class="f-6">Item 3</li>
            </ul>
          </nav>
        </aside>
        <div class="content f-6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quo
          exercitationem in officiis veniam nobis tempora commodi eveniet quam .
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda in
          expedita aut ad unde maxime laboriosam earum. Unde rem accusamus ipsam
          vero autem? Maxime quam ipsum, recusandae deserunt sit nemo?
        </div>
      </div>
    </div>
  </body>
</html>
