<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="card.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title>avatar</title>
  </head>
  <body>
    <div class="shoppingCard-wrapper">
      <!-- card with badge -->
      <article class="card-container m-4">
        <figure class="card-image-container">
          <img
            src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/16274008/2022/1/10/3636199b-e219-428a-845d-d9e2adef1ddf1641811834077-Nike-SB-Shane-Skate-Shoes-1881641811833725-1.jpg"
            alt=""
            class="card-image"
          />
        </figure>
        <main class="card-body l-h-1">
          <h3 class="f-7">Nike</h3>
          <p class="f-5">Adults Unisex SB Shane Skate</p>
          <p class="l-h-3">
            <span class="price f-7">Rs. 4966</span>
            <span class="line-through">Rs. 7095</span>
            <span class="t-c-3 f-bold">(30% OFF)</span>
          </p>
        </main>
        <div class="call-to-action">
          <button class="btn btn-danger m-h-3 t-c-1">Buy Now</button>
          <button class="btn outline-danger m-h-3 t-c-2">Add to cart</button>
        </div>
        <span class="card-badge special-badge f-7 p-3 t-c-2">New Season</span>
      </article>

      <!-- card with dismiss -->

      <article class="card-container m-4">
        <figure class="card-image-container">
          <img
            src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/16274008/2022/1/10/3636199b-e219-428a-845d-d9e2adef1ddf1641811834077-Nike-SB-Shane-Skate-Shoes-1881641811833725-1.jpg"
            alt=""
            class="card-image"
          />
        </figure>
        <main class="card-body l-h-1">
          <h3 class="f-7">Nike</h3>
          <p class="f-5">Adults Unisex SB Shane Skate</p>
          <p class="l-h-3">
            <span class="price f-7">Rs. 4966</span>
            <span class="line-through">Rs. 7095</span>
            <span class="t-c-3 f-bold">(30% OFF)</span>
          </p>
        </main>
        <div class="call-to-action">
          <button class="btn btn-danger m-h-3 t-c-1">Buy Now</button>
          <button class="btn outline-danger m-h-3 t-c-2">Add to cart</button>
        </div>
        <span class="card-badge card-dismiss-icon"
          ><i class="fas f-8 p-4 fa-times"></i
        ></span>
      </article>

      <!-- card with text-overlay -->
      <article class="card-container m-4">
        <div class="card-text-overlay">
          <span class="f-8 t-c-1">Out of stock</span>
        </div>
        <figure class="card-image-container">
          <img
            src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/16274008/2022/1/10/3636199b-e219-428a-845d-d9e2adef1ddf1641811834077-Nike-SB-Shane-Skate-Shoes-1881641811833725-1.jpg"
            alt=""
            class="card-image"
          />
        </figure>
        <main class="card-body l-h-1">
          <h3 class="f-7">Nike</h3>
          <p class="f-5">Adults Unisex SB Shane Skate</p>
        </main>
        <div class="call-to-action">
          <button class="btn btn-danger m-h-3 t-c-1">Buy Now</button>
          <button class="btn outline-danger m-h-3 t-c-2">Add to cart</button>
        </div>
      </article>

      <!-- text only vertical cards -->

      <article class="card-container box-shadow-light text-only-vertical m-4">
        <main class="card-body p-v-4 p-h-2 centered-column">
          <h3 class="f-7">This is a text only vertical card</h3>
          <p class="f-5">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti
            soluta laboriosam rem dolore earum debitis vero sapiente eaque
            consequuntur facere! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Cupiditate labore nemo vel incidunt voluptatibus
            nam nostrum atque aliquid cumque maxime consequatur molestiae
            inventore earum numquam, alias fuga! Officia, voluptas esse!
          </p>
        </main>
      </article>

      <!-- text only horizontol cards -->

      <article class="card-container text-only-horizontol m-4 box-shadow-light">
        <main class="card-body p-3">
          <h3 class="f-7">This is a text only horizontol card</h3>
          <p class="f-5">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti
            soluta laboriosam rem dolore earum debitis vero sapiente eaque
            consequuntur facere!
          </p>
        </main>
      </article>
    </div>
  </body>
</html>
