*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

p {
  font-size: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
