<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title>Input</title>
  </head>
  <body>
    <div class="component-border p-4">
      <header class="main-head">
        <nav class="nav-component">
          <div class="logo-wrapper">
            <span class="hamburger-icon"
              ><i class="fa fa-bars f-6 p-h-4"></i
            ></span>
            <h1 class="nav-logo heading-4 p-h-2">Ecommerce Store</h1>
          </div>
          <div class="nav-searchBar-container">
            <span class="nav-searchIcon"
              ><i class="fa fa-search f-5 t-c-3"></i
            ></span>
            <input
              type="text"
              class="p-v-3 nav-searchBar"
              placeholder="Search Items..."
            />
          </div>
          <div class="link-wrapper">
            <a class="t-c-1 f-5 p-v-3 p-h-8 m-h-3 nav-link-button">Sign in</a>
            <div class="badge-wrapper p-h-4 m-h-3">
              <span class="badge-icon f-8 m-2">
                <i class="fa fa-heart"></i>
              </span>
              <div class="badge centered-row">3</div>
            </div>
            <span class="f-7 p-h-1 pointer">Wishlist</span>
            <div class="badge-wrapper p-h-4 m-h-3">
              <span class="badge-icon f-8 m-2">
                <i class="fa fa-shopping-cart"></i>
              </span>
              <div class="badge centered-row">3</div>
            </div>
            <span class="f-7 p-h-1 pointer">Cart</span>
          </div>
        </nav>
      </header>
    </div>
  </body>
</html>
