.centered-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-around-row {
  justify-content: space-around;
}

.component-border {
  border: 1px solid var(--border-color);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.centered-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.z-index-x-l {
  z-index: 999;
}

.z-index-lg {
  z-index: 5;
}

.z-index-md {
  z-index: 3;
}

.z-index-sm {
  z-index: 1;
}

.box-shadow-dark {
  box-shadow: var(--box-shadow-dark);
}

.box-shadow-light {
  box-shadow: var(--box-shadow-light);
}

.box-shadow-bottom {
  box-shadow: 0px 15px 10px -15px var(--complimentary-text-color-2);
}

.box-shadow-right {
  box-shadow: 15px 0px 10px -15px rgb(233, 232, 232);
}

.border-round {
  border-radius: 50%;
}

.round-corner {
  border-radius: 7px;
}

.pointer {
  cursor: pointer;
}
/* images */

.img-responsive {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.image-container {
  width: fit-content;
  height: fit-content;
}
