<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="alert.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title>avatar</title>
  </head>
  <body>
    <!-- alert component -->
    <div class="centered-row m-v-3">
      <div class="alert alert-red p-h-2 m-4 round-corner box-shadow-light">
        <span><i class="fas fa-exclamation-circle alert-icon"></i></span>
        <p class="p-h-2">There was an error processing your request</p>
      </div>

      <div class="alert alert-success p-h-2 m-4 round-corner box-shadow-light">
        <span><i class="fas fa-check alert-icon"></i></span>
        <p class="p-h-2">Item added to cart : checkout now!</p>
      </div>

      <div class="alert alert-info p-h-2 m-4 round-corner box-shadow-light">
        <span><i class="fas fa-info-circle alert-icon"></i></span>
        <p class="p-h-2">You will now recieve my newsletter.</p>
      </div>
    </div>
  </body>
</html>
