.grid-container {
  /* min-height: 100%; */
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto;
  justify-content: center;
  grid-template-areas:
    'h h h h h h h h h h h h'
    'm m c c c c c c c c c c';
}

.navbar {
  grid-area: h;
}

.aside {
  grid-area: m;
}

.components {
  grid-area: c;
  margin-top: 3rem;
}

.code-snippet {
  padding-right: 3rem;
}

/* Media Queries */
@media only screen and (min-width: 320px) and (max-width: 1300px) {
  /* For Mobile */

  .navbar {
    width: 100%;
  }

  .nav-menu {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 7rem;
    left: -100%;
    transition: 850ms;
  }

  .nav-menu.active {
    left: 0;
    background: var(--border-color);
    overflow: auto;
    transition: 350ms;
    height: 100vh;
  }

  .logo-click {
    pointer-events: auto;
    margin-left: -4rem;
    -webkit-tap-highlight-color: transparent;
  }

  .title {
    display: none;
  }

  /* navbar component */
  .logo-wrapper {
    margin: auto;
  }

  .nav-searchBar-container {
    margin: 1rem;
  }

  .nav-link-button {
    padding: 4px;
  }

  .link-wrapper {
    padding: 5px;
  }

  /* Overall grid layout */
  .grid-container {
    /* min-height: 100%; */
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto;
    justify-content: center;
    grid-template-areas:
      'h h h h h h h h h h h h'
      'c c c c c c c c c c c c';
    margin: 1.2rem;
  }
}
